<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECDataAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ECDATA_DOCS_Entities" connectionString="metadata=res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.csdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.ssdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovdell06;initial catalog=ECDATA_DOCS;persist security info=True;user id=sa;password=1988scp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovdell06;initial catalog=ECDATA;persist security info=True;user id=sa;password=1988scp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaigrSearchDB" connectionString="metadata=res://*/Entity.KaigrSearchDB.KaigrSearchDB.csdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.ssdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovdell06;initial catalog=KAIGR_SEARCHDB;persist security info=True;user id=sa;password=1988scp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ECDATA_DOCS_Entities" connectionString="metadata=res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.csdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.ssdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaigrSearchDB" connectionString="metadata=res://*/Entity.KaigrSearchDB.KaigrSearchDB.csdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.ssdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=KAIGR_SEARCHDB;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_LIVE;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.208.23.184\MSSQL2017;initial catalog=ECDATA_LIVE;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.208.23.184\MSSQL2017;initial catalog=ECDATA_LIVE;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ECDATA_DOCS_Entities" connectionString="metadata=res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.csdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.ssdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=aryabhatt;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaigrSearchDB" connectionString="metadata=res://*/Entity.KaigrSearchDB.KaigrSearchDB.csdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.ssdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\mssql2017;initial catalog=KAIGR_SEARCHDB_LIVE;user id=kannad;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.208.23.184\MSSQL2017;initial catalog=ECDATA_LIVE;persist security info=True;user id=chanakya;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--BELOW CODE COMMENTED  BY SHUBHAM BHAGAT ON 19-11-2020-->
        
    <!--<add name="ECDATA_DOCS_Entities" connectionString="metadata=res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.csdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.ssdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=aryabhatt;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaigrSearchDB" connectionString="metadata=res://*/Entity.KaigrSearchDB.KaigrSearchDB.csdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.ssdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\mssql2017;initial catalog=KAIGR_SEARCHDB_LIVE;user id=kannad;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.208.23.184\MSSQL2017;initial catalog=ECDATA_LIVE;persist security info=True;user id=chanakya;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--ABOVE CODE COMMENTED  BY SHUBHAM BHAGAT ON 19-11-2020-->
    
    <add name="ECDATA_DOCS_Entities" connectionString="metadata=res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.csdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.ssdl|res://*/Entity.ECDATADOCS.ECDATA_DOCS_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05.pune.cdac.in\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KaigrSearchDB" connectionString="metadata=res://*/Entity.KaigrSearchDB.KaigrSearchDB.csdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.ssdl|res://*/Entity.KaigrSearchDB.KaigrSearchDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05.pune.cdac.in\MSSQL2017;initial catalog=KAIGR_SEARCHDB;user id=kannad;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_LIVE;persist security info=True;user id=chanakya;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="KaveriEntities" connectionString="metadata=res://*/Entity.KaveriEntities.KaveriEntities.csdl|res://*/Entity.KaveriEntities.KaveriEntities.ssdl|res://*/Entity.KaveriEntities.KaveriEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05.pune.cdac.in\MSSQL2017;initial catalog=ECDATA;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- added for firm documents. -->
    <add key="KaveriApiExceptionLogPath" value="C:\Kaveri_ApiExceptionLogs" />
    <!-- ADDED BY SHUBHAM BHAGAT ON 18-05-2019 TO READ ERROR LOG FILE DATA-->
    <add key="KaveriUILogPath" value="C:\Kaveri_ExceptionLogs" />
    <!-- added for Count which not allows previous passwords as new password. - raman -->
    <add key="NumberOfPreviousPasswordNotAllowed" value="3" />
    <!-- added for Check password Expiry - Chetan -->
    <add key="NumberOfDaysToForceChangePassword" value="30" />
    <!--ADDED BY RAMAN KALEGAONKAR ON 05-07-2019 TO READ KAVERI WEB SERVICE ERROR LOG FILE DATA-->
    <add key="KaveriWebServiceErrorLogPath" value="C:\KaveriWebServiceErrors" />
    <!--ADDED BY RAMAN KALEGAONKAR ON 05-07-2019 TO READ Uploader SERVICE ERROR LOG FILE DATA-->
    <add key="UploaderService" value="C:\UploadServiceErrors" />
    <!--ADDED BY RAMAN KALEGAONKAR ON 05-07-2019 TO READ KAVERI WEB SERVICE ERROR LOG FILE DATA-->
    <add key="KOSErrorLog" value="E:\UploadImages" />
    <!--ADDED BY RAMAN KALEGAONKAR ON 09-07-2019 TO READ KAVERI WEB SERVICE ERROR LOG FILE DATA-->
    <add key="KOSSakalaLog" value="E:\SakalaResponse" />
    <add key="KOSPaymentLog" value="E:\K2PaymentLogs" />
    <!--### For Local ##### -Added by Akash -->
    <add key="KaveriSupportPath" value="D:\KaveriSupport\" />
    <!--<add key="KaveriSupportPath" value="D:\Kaveri Maintainence Portal\UI\KaveriSupport\" />### For Production ##### -Added by Akash -->
    <add key="KaveriSupportPathURL" value="http://egovmsdb:11223" />
    <!-- File server URL -Added by Akash -->
    <add key="KaveriSupportDecryptFilesPath" value="E:\Cryptography\DecryptFiles" />
    <add key="KaveriSupportEncryptFilesPath" value="E:\Cryptography\EncryptFiles" />
    <!--Min disk space req for kaveri support i.e 10MB = 10000000 bytes -->
    <add key="MinimumDiskSpaceReqForKaveriSupport" value="10000000" />
    <add key="DebugLogPath" value="C:\KaveriAPIDebugLog\" />
    <add key="TempUploadedFilesPath" value="C:\Kaveri_ExceptionLogs\Temp" />
    <!--Added by shubham bhagat on 18-09-2019-->
    <add key="ServicePackDocPath" value="C:\ServicePacks\" />
    <!--Added by Raman Kalegaonkar on 10-10-2019-->
    <!--<add key="ServicePackDocPath" value="C:\ServicePacks\" />-->
    <!--Added by Pankaj Sakhare on 13-10-2020-->
    <!--<add key="PrimaryReplica" value="10.208.22.92" />
    <add key="SecondaryReplica" value="10.208.22.145" />
    <add key="CommonReplica" value="10.208.22.10" />-->
    <add key="PrimaryReplica" value="win19sql1" />
    <add key="SecondaryReplica" value="win19sql2" />
    <add key="CommonReplica" value="10.208.22.10" />
    <add key="PEN_DOCS_ID" value="bhaskar" />
    <add key="PEN_DOCS_PASSWORD" value="kaveri" />

    <!--BELOW KEY Added by shubham bhagat on 13-04-2021-->
    <add key="DBRESGenerateScriptCommandTimeout" value="480"/>
    <!--ABOVE KEY Added by shubham bhagat on 13-04-2021-->

  </appSettings>
  <!-- To send email. -->
  <system.net>
    <mailSettings>
      <smtp from="email">
        <network host="smtp.cdac.in" password="password123" port="25" userName="abc@cdac.com" enableSsl="false" />
      </smtp>
    </mailSettings>
    <!--<defaultProxy>
      <proxy usesystemdefault="False" />
    </defaultProxy>-->
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576000" />
    <!-- Added For Max File Upload -->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<remove name="Server"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>-->
        <clear />
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <!--Added by Akash(25-09-2018) to specify referre policy-->
        <add name="Referrer-Policy" value="same-origin" />
        <!-- Added by Akash(28-08-2018) -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <!-- In values need to specify Origins allowed to site -->
        <!--<add name="Strict-Transport-Security" value="max-age=31536000"/> Added & Commented by Akash(28-08-2018) ,For this header site must have SSL certificate-->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--Below two lines are added by M rafe on 22-9-17 (Firm online security testing obserVation) -->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Content-Security-Policy" value="default-src * 'unsafe-inline' 'unsafe-eval'" />
        <!--<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval'" />-->
      </customHeaders>
    </httpProtocol>
    <!-- Added For Max File Upload -->
    <security>
      <!--<requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1048576000" maxQueryString="1048576000" maxUrl="1048576000" />
      </requestFiltering>-->
      <requestFiltering allowDoubleEscaping="true">
        <!--Added by Akash(28-08-2018) To specify NOT allowed HTTP Verbs-->
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="PATCH" allowed="false" />
        </verbs>
        <!--BELOW CODE ADDED BY SHUBHAM BHAGAT ON 23-10-2020 TO UPLOAD FILE GREATER THAN DEFAULT SIZE-->
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <requestLimits maxAllowedContentLength="4294967295"/>
        <!--ABOVE CODE ADDED BY SHUBHAM BHAGAT ON 23-10-2020 TO UPLOAD FILE GREATER THAN DEFAULT SIZE-->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ECDataAPI.Properties.Settings>
      <setting name="ECDataAPI_AnywhereCCService_PreRegCCService" serializeAs="String">
        <value>http://10.208.34.186:89/PreRegCCService.asmx</value>
      </setting>
      <setting name="ECDataAPI_SRToCentralComService_SRToCentralComService"
        serializeAs="String">
        <value>http://localhost:7652/SRToCentralComService.asmx</value>
      </setting>
      <setting name="ECDataAPI_EcDataService_ECDataService" serializeAs="String">
        <value>http://10.208.34.186:9990/ECDataService.asmx</value>
      </setting>
      <setting name="ECDataAPI_PreRegApplicationDetailsService_ApplicationDetailsService"
        serializeAs="String">
        <value>http://egovdell06:54321/PreRegApplicationDetailsService.asmx</value>
        <!--<value>http://localhost:12345/PreRegApplicationDetailsService.asmx</value>-->
      </setting>
    </ECDataAPI.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>