@using ECDataUI.Helper;
@using ECDataUI.Common;
@using ECDataUI.Session;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TicketDetailsList</title>
    @*@{

            int RoleID = KaveriSession.Current.RoleID;

        }*@
    <script>
    var vRoleID = '@KaveriSession.Current.RoleID';
    </script>

    

    @*<script src="~/Areas/KaveriSupport/Scripts/TicketDetailsList.js"></script>*@
    <script src="~/Areas/KaveriSupport/Scripts/TicketDetailsList.min.js"></script>

    <style>
        table.center-all td, th {
            text-align: center;
          
        }

        table,  td {
            word-break: break-all !important;
            
        }

        .dataTables_scrollHeadInner {
            min-width: 100%;
        }

        .datatable {
            min-width: 100%;
        }

        .table {
            table-layout: auto !important;
        }

        tr:nth-child(even) {
            background-color: aliceblue !important;
        }
    </style>
</head>

<body>


    <div class="container-fluid" id="mainFormID">

        <div class="panel panel-default" style="width: 100%;margin-left:0px;margin-right:0px; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC;">
            <div class="panel-body">
                <div class='row well-custom' id='ticketDetailsListCollapse' data-toggle="collapse" data-target="#collapseRoleDetailsList" aria-expanded="false" aria-controls="collapseRoleDetailsList" style="height: 35px; padding-top: 10px;margin-left:0px;margin-right:0px;">
                    <span  style="cursor:pointer;margin-bottom:20px;">
                        <span id="ToggleIconID" class="fa fa-minus-square-o fa-pull-left" style="margin-left: 05px;font-size:120%;padding-top:2px; color: #FFF"></span>
                    </span>
                    <span class="" style="color: #fff;font-size:120%;">Existing Ticket Details</span>

                </div>
                <div id="collapseRoleDetailsList" class="collapse" style="text-align: center;margin-left:0px; background: #fff; border: 1px solid #ECF0F1; padding-top: 1%;">
                    <div class="container-fluid">
                        <div class="data-table-wrapper table-responsive col-md-12" style="max-height:inherit;">
                            <table id="TicketDetailsListTable" class="datatable table-responsive full-width table table-striped table-bordered table-condensed table-hover" style="background-color: aliceblue; overflow: hidden; border: solid; text-align:center; width:100%">
                                <thead style="text-align:center;">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Ticket Number</th>
                                        <th style="width:100px;">Description</th>
                                        <th>Module</th>
                                        <th>Office</th>
                                        <th>Registration DateTime</th>
                                        <th>Active Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Datatable for private key store details *@

        <div class="panel panel-default" style="width: 100%;margin-left:0px;margin-right:0px; box-shadow: 5px 5px 10px #d0d3d4; background: #FBFCFC;">
            <div class="panel-body">
                <div class='row well-custom' id='PrivateKeyDetailsListCollapse' data-toggle="collapse" data-target="#collapsePrivateKeyDetailsList" aria-expanded="false" aria-controls="collapseRoleDetailsList" style="height: 35px; padding-top: 10px;margin-left:0px;margin-right:0px;">
                    <span  style="cursor:pointer;margin-bottom:20px;">
                        <span id="ToggleIconID2" class="fa fa-minus-square-o fa-pull-left" style="margin-left: 05px;font-size:120%;padding-top:2px; color: #FFF"></span>
                    </span>
                    <span class="" style="color: #fff;font-size:120%;">Private Key Details</span>

                </div>
                <div id="collapsePrivateKeyDetailsList" class="collapse" style="text-align: center;margin-left:0px; background: #fff; border: 1px solid #ECF0F1; padding-top: 1%;">
                    <div class="container-fluid">
                        <div class="data-table-wrapper table-responsive col-md-12" style="max-height:inherit;">
                            <table id="PrivateKeyDetailsListTable" class="datatable table-responsive full-width table table-striped table-bordered table-condensed table-hover" style="background-color: aliceblue; overflow: hidden; border: solid; text-align:center; width:100%">
                                <thead style="text-align:center;">
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Ticket Number</th>
                                        <th>File Name</th>
                                        <th>Upload DateTime</th>
                                        <th>IsActive</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
