/*body {
    background: #D1D1D1;
    text-align: center;
}*/


/*.card {
    display: block;
    background: #FFFFFF;
    width: 300px;
    height: 300px;
    border-radius: 2px;  
    display: inline-block;
    align: center;
    transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

    .card:hover {
        box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.5);
    }

.card1 {
    width: 300px;
}*/

/*#text {
    margin-top: 20px;
    float: center;
    font: VNF-Museo;
    font-size: 40px;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}*/

/*.MenuDescClass {
    display: none;
    width: 1024px;
    height: 278px; height is commented before commenting full MenuDescClass
    border: 1px solid #000;
}*/

/*.card2 {
    width: 625px;
}


.cardtitle {
    width: 625px;
    height: 100px;
    align: center;
}*/

/*.threeD {
    color: darkgrey;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey, 1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey, 5px 13px 15px black;
}*/

    /*.threeD:hover {
        transition: 0.3s;
        transform: scale(1.1)translate(-50%, -50%);
        text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey, 1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey, 1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
    }*/


.fond {
    position: absolute;
    padding-top: 85px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00506b;
}

.style_prevu_kit {
    display: inline-block;
    border: 0;
    /*width: 196px;
    height: 210px;*/
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    /* commented by Shubham bhagat on 30-08-2019 */
    /*-ms-transition: all 200ms ease-in;*/
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

    .style_prevu_kit:hover {
        box-shadow: 0px 0px 10px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.20);
        /* commented by Shubham bhagat on 30-08-2019 */
        /*  -ms-transition: all 200ms ease-in; */
        -ms-transform: scale(1.20);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.20);
        transition: all 200ms ease-in;
        transform: scale(1.20);
    }