




@{

    Layout = null;
}


@*<script src="~/Content/DataTables/Js_New/jquery-3.3.1.js"></script>*@

<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" />



<div class="container" id="mainFormID">
    <div class="col-md-offset-0" style="margin-top:13%;">
        <div class="col-md-offset-0 ">
            <div class="row">

                <div class="alert alert-danger alert-error" style="font-size:200%;text-align:center;">

                    @*<strong>@ViewBag.Message </strong>*@
                    <i class="fa fa-exclamation-triangle text-danger boot-icon boot-icon"></i>  @ViewBag.Message



                </div>
            </div>
        </div>
    </div>
</div>
