


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IntegrationDashboardView</title>
</head>
<body>
    <div>
        <h3> Integration Dashboard related data will be displayed</h3>
    </div>
</body>
</html>
