<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--URL for Web API-->
    <add key="BaseURI" value="http://localhost:50145/" />
    <!--For Forgot password-->
    <add key="ApplicationURL" value="http://localhost:50174" />
    <add key="KaveriUILogPath" value="C:\Kaveri_ExceptionLogs" />


    <!-- <add key="ApplicationURLForRecoverPassword" value="http://localhost:50174/Account/ForgotPasswordByLink"/>-->

    <!--<add key="ApplicationURLForActivateAccount" value="http://localhost:53303/PasswordRecovery/GenerateActivationCode"/>-->




    <!--<add key="MvcReportViewer.ReportServerUrl" value="http://egovmsdb:8957/ReportServer" />
    <add key="MvcReportViewer.Username" value="Administrator" />
    <add key="MvcReportViewer.Password" value="egovmsdb$321" />
    <add key="MvcReportViewer.ShowParameterPrompts" value="false" />
    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
    <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />
    <add key="MvcReportViewer.ShowErrorPage" value="False" />
    <add key="MvcReportViewer.EncryptParameters" value="False" />
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />-->


    <!--ADDED BY PANKAJ ON 24-12-2020-->
    <add key="MvcReportViewer.ReportServerUrl" value="http://EGOVAR05/ReportServer" />
    <add key="MvcReportViewer.Username" value="EGOV\Chetans" />
    <add key="MvcReportViewer.Password" value="Admin$3210!" />
    <add key="MvcReportViewer.ShowParameterPrompts" value="false" />
    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
    <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />
    <add key="MvcReportViewer.ShowErrorPage" value="False" />
    <add key="MvcReportViewer.EncryptParameters" value="False" />
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />

    <add key="UserIDForSSRSReport" value="kaveriro" />
    <add key="PasswordForSSRSReport" value="kaveriro" />
    <!--ADDED BY PANKAJ ON 24-12-2020-->

    <add key="CitizenReportsFolderName" value="CitizenReports" />

    <!-- 2 MB File Size for Supported Document-->
    <add key="MaxFileSizeToUpload" value="2097152" />
    <add key="MaxFileSizeToUploadOfPartnershipDeed" value="5242880" />
    <!-- added for Count which not allows previous passwords as new password. - raman -->
    <add key="NumberOfPreviousPasswordNotAllowed" value="3" />

    <add key="TempUploadedFilesPath" value="C:\Kaveri_ExceptionLogs\Temp" />

    <add key="IsRefreshEnable" value="true"/>
    <add key="IsDownloadAsExcelEnable" value="true"/>
    <add key="IsDownloadAsExcelEnableForFRN" value="true"/>
     <add key="IsDownloadAsExcelEnableForSFN" value="true"/>  
   <add key="IsDownloadAsExcelEnableForDateDetails" value="true"/>

    <!--Added by ShivamB on 13-02-2023 for adding IsRefreshPropertyAreaDetailsEnable button to delete PropertyAreaDetails table rows SROwise-->
    <add key="IsRefreshPropertyAreaDetailsEnable" value="true"/>
    <!--Ended by ShivamB on 13-02-2023 for adding IsRefreshPropertyAreaDetailsEnable button to delete PropertyAreaDetails table rows SROwise-->

    <!--added by madhur on 15-02-2022-->
    <add key="menuIdForOTP" value="141" />

    <!--Updated By Shivam B on 27-12-2022 for adding otp to ChallanNoDataEntryCorrection menu of HomePage-->
    <!--ECData MenuID-->
    <!--<add key="menuIdForOTP" value="141,171" /> -->
    <!--ECData_LIVE MenuID-->
    <!--<add key="menuIdForOTP" value="141,200" />-->
    <!--Ended By Shivam B on 27-12-2022 for adding otp to ChallanNoDataEntryCorrection menu of HomePage -->
    
    
     <!--added by Shivam B on 17-01-2023 for Minimum Challan Month and Year of Challan No Data Entry Correction--> 
    <add key ="MinChallanMonthOfChallanNoDataEntryCorrection" value ="01"/>
    <add key ="MinChallanYearOfChallanNoDataEntryCorrection" value ="2022"/>
    <!--Ended by Shivam B on 17-01-2023 for Minimum Challan Month and Year of Challan No Data Entry Correction --> 

    
    <!--added by madhur on 22-08-2022 for rescan virtual directory-->
    <add key="ReScanningApplicationUploadFolder" value="E:\DataEntryCorrection\ReScanningPDFUploads" />


    <!-- Added by Akash for kaveri support-->
    <add key="MaxFileSizeToUploadFileForEncryption" value="6291456" />
    <!-- ##### For local #####-->
    <add key="KaveriSupportPath" value="E:\KaveriSupport\" />
    <!--  <add key="KaveriSupportPath" value="D:\Kaveri Maintainence Portal\UI\KaveriSupport\" /> ##### For Production ##### -->


    <add key="ImageMagickPath" value="C:\Program Files (x86)\ImageMagick-6.7.5-Q16" />
    <!--Added by mayank on 12/Apr/2022-->
    <add key="ScannedCorruptedFileByteArrayPath" value="/Utilities/ScannedFileDownload/GetTIFFFileByteArray?EncParams=" />
    <!--End of Comment by mayank 12/Apr/2022-->
    <!--Added By Tushar on 24 Nov 2022-->
    <add key="TechDiagMenuId" value="19"/>
    <!--End By Tushar on 24 Nov 2022-->
    <!--Added By Tushar on 12 Dec 2022-->
    <add key="IsFirmDownloadAsExcelEnable" value="true"/>
    <!--End By Tushar on 12 Dec 2022-->
    <!--Added By Tushar on 31 jan 2023 for Menu Disable -->
    <add key="MenuDisabled" value="151,1,25,72"/>
    <add key="MenuDisabledOfficeID" value="55"/>
    <!--End By Tushar on  31 jan 2023-->
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/Index">
      <error statusCode="404" redirect="~/Error/Index" />
      <error statusCode="403" redirect="~/Error/Index" />
      <error statusCode="500" redirect="~/Error/Index" />
      <error statusCode="400" redirect="~/Error/Index" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" optimizeCompilations="false" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="1000" />
    <!-- Commented and Added by Tushar on 19 April 2022 for DeleteExpiredSessions-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>-->
    <authentication mode="Forms">
      <forms loginUrl="/Error/SessionExpire" timeout="2880" />
    </authentication>
    <!--End of Comment by Tushar on 19 April 2022 -->
    <!--<sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=Egovdell06\MSSQL2017;database=ECDATA;uid=sa;pwd=sa@sql2k17" timeout="20" />-->
    <!--<sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=Egovar05\MSSQL2017;database=ECDATA;uid=kaveri;pwd=kaveri" timeout="20" />-->

    <!--BELOW CODE COMMENTED  BY SHUBHAM BHAGAT ON 19-11-2020-->
    <!--<sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=Egovar05\MSSQL2017;database=ECDATA_LIVE;uid=kaveri;pwd=kaveri" timeout="20" />-->
    <!--ABOVE CODE COMMENTED  BY SHUBHAM BHAGAT ON 19-11-2020-->
    <!--<sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=Egovar05\MSSQL2017;database=ECDATA_LIVE;uid=kaveri;pwd=kaveri" timeout="20" />-->
    <!--below commented and changed by shubham bhagat  on 13-04-2021-->
    <!--<sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=Egovar05\MSSQL2017;database=ECDATA_LIVE;uid=kaveri;pwd=kaveri" timeout="20" />-->
    <!--<sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=egovdell06.pune.cdac.in\MSSQL2017;database=ECDATA_LIVE;uid=kaveri;pwd=kaveri" timeout="20" />-->
    <sessionState mode="SQLServer" cookieName="KaveriSessionID" allowCustomSqlDatabase="true" sqlConnectionString="server=egovln10.pune.cdac.in\MSSQL2017;database=ECDATA_LIVE;uid=kaveri;pwd=kaveri" timeout="20" />

    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <!--<add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />-->
    </httpHandlers>
    <!--To set httponly cookie added by shubham bhagat on 21-06-2019-->
    <httpCookies httpOnlyCookies="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <!--Added by Akash(25-09-2018) to specify referre policy-->
        <add name="Referrer-Policy" value="same-origin" />
        <!-- Added by Akash(28-08-2018) -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <!-- In values need to specify Origins allowed to site -->
        <!--<add name="Strict-Transport-Security" value="max-age=31536000"/> Added & Commented by Akash(28-08-2018) ,For this header site must have SSL certificate-->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--Below two lines are added by M rafe on 22-9-17 (Firm online security testing obserVation) -->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--<add name="Content-Security-Policy" value="default-src * 'unsafe-inline' 'unsafe-eval'" />-->
        <!--<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval'" />-->
        <add name="content-security-policy" value="frame-ancestors 'self'" />

      </customHeaders>
    </httpProtocol>
    <!--<security>
      <requestFiltering allowDoubleEscaping="true" />
      -->
    <!--<requestLimits maxAllowedContentLength="1048576000" />-->
    <!--
    </security>-->
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!--Added by Akash(28-08-2018) To specify NOT allowed HTTP Verbs-->
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="PATCH" allowed="false" />
        </verbs>
        <!--BELOW CODE ADDED BY SHUBHAM BHAGAT ON 12-08-2020 TO UPLOAD FILE GREATER THAN DEFAULT SIZE-->
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <requestLimits maxAllowedContentLength="4294967295" />
        <!--ABOVE CODE ADDED BY SHUBHAM BHAGAT ON 12-08-2020 TO UPLOAD FILE GREATER THAN DEFAULT SIZE-->
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" showFlags="None" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- add this -->
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Index.cshtml" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <!--<rewrite>
      <outboundRules>
        <remove name="RemoveServer" />
        <rule name="RemoveServer">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <conditions />
          <action type="None" />
        </rule>
      </outboundRules>
    </rewrite>-->
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="~/Error/Index" responseMode="Redirect" />
      <remove statusCode="400" subStatusCode="-1" />
      <error statusCode="400" prefixLanguageFilePath="" path="~/Error/Index" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="ECDATA_DOCS_UIEntities" connectionString="metadata=res://*/Entity.ECDATA_DOCS_UIEntities.csdl|res://*/Entity.ECDATA_DOCS_UIEntities.ssdl|res://*/Entity.ECDATA_DOCS_UIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovdell06\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=sa;password=sa@sql2k17;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ECDATA_DOCS_UIEntities" connectionString="metadata=res://*/Entity.ECDATA_DOCS_UIEntities.csdl|res://*/Entity.ECDATA_DOCS_UIEntities.ssdl|res://*/Entity.ECDATA_DOCS_UIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--BELOW CODE COMMENTED  BY SHUBHAM BHAGAT ON 19-11-2020-->
    <!--<add name="ECDATA_DOCS_UIEntities" connectionString="metadata=res://*/Entity.ECDATA_DOCS_UIEntities.csdl|res://*/Entity.ECDATA_DOCS_UIEntities.ssdl|res://*/Entity.ECDATA_DOCS_UIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Egovar05\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--ABOVE CODE COMMENTED  BY SHUBHAM BHAGAT ON 19-11-2020-->
    <!--<add name="ECDATA_DOCS_UIEntities" connectionString="metadata=res://*/Entity.ECDATA_DOCS_UIEntities.csdl|res://*/Entity.ECDATA_DOCS_UIEntities.ssdl|res://*/Entity.ECDATA_DOCS_UIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=egovdell06.pune.cdac.in\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ECDATA_DOCS_UIEntities" connectionString="metadata=res://*/Entity.ECDATA_DOCS_UIEntities.csdl|res://*/Entity.ECDATA_DOCS_UIEntities.ssdl|res://*/Entity.ECDATA_DOCS_UIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=egovln10.pune.cdac.in\MSSQL2017;initial catalog=ECDATA_DOCS;persist security info=True;user id=kaveri;password=kaveri;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileUploaderSoap" maxReceivedMessageSize="999999" />
        <binding name="FileUploaderSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.180.5.228/FileUploader.asmx" binding="basicHttpBinding"
        bindingConfiguration="FileUploaderSoap" contract="FileUploaderPhotoThumb.FileUploaderSoap"
        name="FileUploaderSoap" />
      <endpoint address="http://localhost:1817/FileUploader.asmx" binding="basicHttpBinding"
        bindingConfiguration="FileUploaderSoap1" contract="FileUploaderRescanningApplication.FileUploaderSoap"
        name="FileUploaderSoap1" />
    </client>
  </system.serviceModel>
</configuration>